.employee-overview {
  width: 100%;
  display: inherit;
  flex-direction: column;
  padding: 3rem;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    h1 {
      font-size: 2rem;
      margin-right: 0.6rem;
      color: #F7882F;
      letter-spacing: 2px;
    }
  }
}
