.management {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .main-content {
    display: inherit;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    -webkit-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content-with-menu-open {
    width: calc(100% - 256px);
  }

  .left-side-bar {
    display: inherit;
    width: 0px;
    height: 100%;
    -webkit-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .left-side-bar-with-menu-open {
    width: 256px;
  }
}
