$blueberry: #6B7A8F;
$light-apple-core: #eaddcc;
$apple-core: #DCC7AA;
$dark-apple-core: #9a8b76;
$citrus: #F7C331;
$apricot: #F7882F;

.management {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .main-content {
    display: inherit;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $light-apple-core;
    -webkit-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);

    .nav-bar {
      display: inherit;
      width: 100%;
      height: 5%;
      flex-direction: row;
      align-items: center;

      .left-container {
        display: inherit;
        width: 50%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .right-container {
        display: inherit;
        width: 50%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .content-body {
      display: inherit;
      width: 100%;
      height: 95%;
      flex-direction: column;

      .tabs-controller {
      // More on this later
      }

      .content-component {
        display: inherit;
        height: calc(100% - 72px - 2rem); // The tabs controller always takes up 72px;
        width: calc(100% - 4rem);
        margin: 0rem 2rem 2rem 2rem
      }
    }
  }

  .content-with-menu-open {
    width: calc(100% - 256px);
  }


  .left-side-bar {
    display: inherit;
    width: 0px;
    height: 100%;
    -webkit-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .left-side-bar-with-menu-open {
    width: 256px;
  }
}
