.project-detail {
  height: 100%;
  width: 100%;
  display: inherit;
  flex-direction: column;

  .project-summary {
    display: inherit;
    flex-direction: row;
    width: calc(100% - 5rem);
    height: 60%;
    align-items: center;
    padding: 2.5rem;

    .left-container {
      display: inherit;
      flex-direction: column;
      padding: 1rem 1rem 1rem 1rem;
      width: 60%;


      .project-description {

        .title {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          h1 {
            font-size: 2rem;
            color: #F7882F;
            letter-spacing: 1px;
          }
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .right-container {
      display: inherit;
      flex-direction: column;
      height: 100%;
      width: 50%;
    }
  }

  .task-summary {
    display: inherit;
    flex-direction: column;
    height: 58%;
    padding: 3rem;

    h1 {
      font-size: 2rem;
      margin: 1rem 1rem 1rem 1rem;
    }
  }

  .assignees {
    display: inherit;
    flex-direction: column;
    padding: 4rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #6B7A8F;
    }

    .assignee-chips {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .chip {
        margin: 0.2rem;
      }
    }
  }
}
