.project-creator {
  width: 100%;
  display: inherit;
  flex-direction: column;
  padding: 3rem;

  h1 {
    font-size: 2rem;
    color: #F7882F;
    letter-spacing: 2px;
  }

  .project-form {
    padding: 1rem 1rem;

    li {
      color: red;
    }

    .form-box {
      padding: 1rem 3rem;

      h2 {
        color: #6B7A8F;
      }

      .description {
        padding: 0rem 0rem 1.5rem 0rem;
      }
    }
  }
}
