.task-overview {
  width: 100%;
  display: inherit;
  flex-direction: column;
  padding: 1rem;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    h1 {
      font-size: 2rem;
      margin-right: 0.6rem;
    }
  }
}
