// Make sure each container component occupies the whole page
.welcome-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .nav-bar {
    min-height: 50px;
    height: 8%;
    width: 100%;
    display: inherit;
    flex-direction: row;
    z-index: 69;

    .left-container {
      height: 100%;
      width: 50%;
      display: inherit;
      flex-direction: row;

      .logo {
        height: 100%;
        width: 12%;
        min-width: 50px;
        display: inherit;
        // flex-direction: row;
        // background-image: image-url("logo.png");
        // background-repeat: no-repeat;
        // background-size: cover;
      }

      .text {
        height: 100%;
        width: calc(100% - 12%);
        display: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .right-container {
      height: 100%;
      width: 50%;
      display: inherit;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .button-container {
        height: 100%;
        width: 30%;
        display: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .login-button {
          margin-right: 1.5rem !important;
        }

        .signup-button {
          margin-right: 1.5rem !important;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    height: calc(100% - 8%);
    width: 100%;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), image-url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .left-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;
      .text-box {
        width: 100%; // 100% to left-container
        display: flex;
        flex-direction: column;
        position: relative; // Relative to its normal position
        top: 31%;
        left: 31%;
        .head-line {
          width: 100%;
          color: white;
          font-size: 3rem;
          font-weight: bolder;
          text-shadow: 1px 1px 4px #effete;
        }

        .catch-phrase {
          width: 100%;
          color: white;
          font-size: 2rem;
          font-weight: normal;
          text-shadow: 1px 1px 4px #effete;
        }

        .description {
          width: 70%;
          color: white;
          font-size: 1rem;
          font-weight: lighter;
        }
      }
    }

    .right-container {
      height: 100%;
      width: 50%;
    }
  }
}
