@import url('https://fonts.googleapis.com/css?family=Prompt:800');

$blueberry: #6B7A8F;
$light-apple-core: #eaddcc;
$apple-core: #DCC7AA;
$dark-apple-core: #9a8b76;
$citrus: #F7C331;
$apricot: #F7882F;

.welcome-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .nav-bar {
    min-height: 50px;
    height: 8%;
    width: 100%;
    display: inherit;
    flex-direction: row;
    z-index: 69;

    .left-container {
      height: 100%;
      width: 50%;
      display: inherit;
      flex-direction: row;
      padding-left: 4rem;
      background-color: #eaddcc;
      // .logo {
      //   height: 100%;
      //   width: 129%;
      //   min-width: 50px;
      //   display: inherit;
      // }

      .text {
        text-shadow: 2px 1px #6B7A8F;
        color: #F7882F;
        font-family: 'Prompt', sans-serif;
        font-size: 3rem;
        letter-spacing: 15px;
        height: 100%;
        width: calc(100% - 12%);
        display: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .right-container {
      height: 100%;
      width: 50%;
      display: inherit;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background-color: #eaddcc;


      .button-container {
        height: 100%;
        width: 30%;
        display: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .login-button {
          margin-right: 1.5rem !important;
        }

        .signup-button {
          margin-right: 1.5rem !important;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    height: calc(100% - 8%);
    width: 100%;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), image-url('orange-wave.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .left-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;

      .text-box {
        width: 100%; // 100% to left-container
        display: flex;
        flex-direction: column;
        position: relative; // Relative to its normal position
        top: 20%;
        left: 25%;

        .face-logo {
          height: 100px;
          width: 100px;
        }

        .head-line {
          width: 100%;
          color: white;
          font-size: 4rem;
          font-weight: bolder;
          text-shadow: 1px 1px 4px #effete;
        }

        .catch-phrase {
          width: 100%;
          color: white;
          font-size: 3rem;
          font-weight: normal;
          text-shadow: 1px 1px 4px #effete;
        }

        .description {
          width: 70%;
          color: white;
          font-size: 1.5rem;
          font-weight: lighter;
        }
      }
    }

    .right-container {
      height: 100%;
      width: 50%;
    }
  }

  footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .logo {
      margin-top: 0.2rem;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
}
