.login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .demo-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .text {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: bolder;
    }
  }

  .login-form {
    display: inherit;
    flex-direction: column;

    .session-errors {
      color: red;
    }
    
    .button-container {
      display: inherit;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
