@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto;
}

html, body {
  height: 100vh;
  width: 100vw;
}

html, body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

#react-application {
  height: 100%;
  width: 100%;

  // Only affect direct child
  > div {
    height: inherit;
    width: inherit;
  }
}
