@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto;
}

html, body {
  font-size: 13px;
  height: 100vh;
  width: 100vw;
}

html, body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

#react-application {
  height: 100%;
  width: 100%;

  // Only affect direct child
  > div {
    height: inherit;
    width: inherit;
  }
}

@import "containers/welcome.scss";
@import "components/login.scss";
@import "components/signup.scss";

@import "containers/management.scss";
@import "components/project_overview.scss";

@import "containers/project_detail.scss";
@import "components/project_task_item.scss";


@import "components/task_overview.scss";
